body {
    font-size: 14px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/stardust_@2X.png");
    background-color: #cccccc;
    line-height: 24px;
    }

.container {
    width: 960px; 
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background: #ffffff;
    display: block; 
    margin: 0 auto; 
    padding: 0px 10px;
    width: 100%;
    position: relative;
    top: -10px; 
    left: -10px;
    border-bottom-style: solid;
    border-width: 2px; 
    border-color:#cccccc;  
}

header::after {
    content: "";
    display: table; 
    clear: both;
}

h1 {
    float: left;
    width: 250px;
    height: 100%;
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 15px; 
    margin: 0 auto; 
    text-align: center;
}

nav {
    float: right; 
}

nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 15px;
    padding-left: 10px; 
}

.column {
    width: 960px; 
    padding: 0 auto; 
    margin: 0 auto;
}

.about {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    overflow: auto; 
    border-style: solid;
    border-width: 4px;
    border-color: #4aaaa5;
}

.hr {
    border-top: 1px solid #4aaaa5;
}

h2 {
    color: #4aaaa5; 
}

#image {
    float: left; 
    padding-right: 20px;
    display: inline-block; 
}

.personality {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    overflow: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #4aaaa5;
}

#stand {
    width: 45%;
    float: left;
    padding-right: 5px; 
}

#sight {
    width: 45%;
    padding-left: 5px;
    float: right;
}

.social {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #4aaaa5;
}

.grid-container {
    align-content: center; 
    text-align: center;
    display: grid;
    grid-column: 3;
    padding: 20px; 
}

.facebook {    
    grid-column: 1;
    grid-row: 1;
}

.linkedin {    
    grid-column: 2;
    grid-row: 1;
    
}

.instagram {    
    grid-column: 3;
    grid-row: 1;
}

#footer {
    background: #666666; 
    color: white; 
    padding: 60px 10px;
    width: 100%;
    text-align: center;    
    position: relative;
    bottom: -10px; 
    left: -10px;
    border-top-style: solid;
    border-color: #4aaaa5; 
    border-width: 3px;
}